@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.LoginFormGetInTouch {
  color: #93c5fd;
  font-size: 10px;
  position: relative;
  margin-top: 40px;
  text-align: center;
}

.LoginFormGetInTouch::before {
  position: absolute;
  content: "";
  background-color: #96c7fd;
  width: 100px;
  height: 1px;
  left: 0;
  top: 50%;
}

.LoginFormGetInTouch::after {
  position: absolute;
  content: "";
  background-color: #96c7fd;
  width: 100px;
  height: 1px;
  right: 0;
  top: 50%;
}


/* Aside Animation Button */
.asideAnimate {
  animation-name: slide;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}
